.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar-light .navbar-nav  {
  color: #FFF;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: #00ed64 ;
  font-size:large;
  font-weight: bold;
  
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-link:hover  {
  color: #00684a !important; 
  /* #00684a , #00ed64 , 001e2b, #023430*/
  }

li .nav-link:focus   {
  color: #00684a;
}

  .navbar-light {
    background-color:#001e2b;  
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }

  .search {
    width: 100%;
    position: relative;

  }
  .search input{
    background-color: white;
    padding: 15px ;

  }
  .searchTerm {
    width: 100%;
    border: 3px solid #00684a !important;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    background-color: #00684a;

  }
  
  .searchTerm:focus{
    color: #00684A;
  }
  .scroll {
    height: 200px;
    overflow-y: auto;
}
  .searchResult{
    background-color: #00684a !important;
  }

  .wrap{
    width: 40%;
    position: absolute;
    left: 50%;
    padding-bottom: 80px;
    transform: translate(-50%, -50%);
  }
  .poster{ 
    width: 100%;
    height: 400px;
  }

  .chart {
    width: 600px;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    float: left;
    margin-left: 200px;
    margin-bottom: 80px;
    border-radius: 15px;
    transition: all .3s;
  }
  .card{
    margin-left: 50px;
  
  }

  .card{
    background-color: #001e2b !important;
  }

.card-columns{
    margin-top: 70px;
}
.component{
  margin-top: 70px;
}
